.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9381ff;
}
.Card {
  box-shadow: 0 0 2px gray;
  background-color: #f8f7ff;
  border-radius: 12px;
}
.text {
  font-size: 1rem;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.authentication-form {
  width: 400px;
}
.link {
  color: black;
}
.card-title {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0;
}
.message-box {
  width: 300px;
  height: auto;
  background-color: #9381ff;
  margin-top: 10px;
  border-radius: 25px;
  border: solid 1px black;
  padding: 0%;
}
.message {
  text-align: right;
  padding: 5px 10px 5px 0px;
  color: black;
  font-weight: 500;
}
.name-rool {
  text-align: right;
  margin: 0%;
  padding: 0%;
  margin-top: -20px;
  margin-right: 12px;
  font-size: 10px;
  font-weight: 500;
  color: rgb(53, 53, 53);
}
.text-time {
  text-align: right;
  margin: 0%;
  padding: 0%;
  margin-right: 12px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 500;
  color: rgb(53, 53, 53);
}
.message-container {
  height: 83vh;
}
.text-box {
  position: absolute;
  bottom: 7%;
  width: 82% !important;
}
.my-message-colem {
  float: inline-end;
}
.catogory-scrool {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}
.password-reqirment {
  font-size: x-small;
}
.password-reqirment li {
  margin-left: -18px;
}
